@page
@model PRN231PE_SP24_123890_DangPhuongNam_FE.Pages.Management.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-page="Create">Create New</a>
</p>
<form method="post">
    <div class="form-group">
        <label asp-for="PublishYear"></label>
        <input asp-for="PublishYear" class="form-control" />
        <span asp-validation-for="PublishYear" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="PaintingAuthor"></label>
        <input asp-for="PaintingAuthor" class="form-control" />
        <span asp-validation-for="PaintingAuthor" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-primary">Search</button>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.WatercolorsPainting[0].PaintingName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatercolorsPainting[0].PaintingDescription)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatercolorsPainting[0].PaintingAuthor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatercolorsPainting[0].Price)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatercolorsPainting[0].PublishYear)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatercolorsPainting[0].CreatedDate)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.WatercolorsPainting[0].Style.StyleName)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @if (Model.WatercolorsPainting != null && Model.WatercolorsPainting.Count > 0)
        {
            @foreach (var item in Model.WatercolorsPainting)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaintingName)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaintingDescription)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PaintingAuthor)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Price)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.PublishYear)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.CreatedDate)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Style.StyleName)
                    </td>
                    <td>
                        <a asp-page="./Edit" asp-route-id="@item.PaintingId">Edit</a> |
                        <a asp-page="./Details" asp-route-id="@item.PaintingId">Details</a> |
                        <a asp-page="./Delete" asp-route-id="@item.PaintingId">Delete</a>
                    </td>
                </tr>
            }
        }
    </tbody>
</table>
